<%- include('partials/header') %>
<div class="secretPage">
  <div class="jumbotron text-center secretPage">
    <div class="container secretsContainer">
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <ul>
        <% usersWithSecrets.forEach(user => { %>
        <p class="secret-text"><%= user.secret %></p>

        <%})%>
      </ul>
      <hr />

      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button"
        >Submit a Secret</a
      >
    </div>
  </div>
</div>

<%- include('partials/footer') %>
